/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin-top: 20px;  
  width: 100%;
  height: 100%;
  background: #FFFFFF;
}

* {
  box-sizing: border-box;
}

img {
  height: 50px;
}

h1{
  margin-top: 25px;
  margin-left: 30px;
  margin-bottom: 0px;
  
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 40px;

  color: #00A0E0;
}

h2 {
  margin-top: 10px;
  margin-left: 30px;
  
  width: 219px;
  
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  color: #00A0E0;
}

.fruitbox {
  position: relative;  
  
  margin: 15px 15px 1px 30px;
  height: 100px;
}

.fruitbox img {
  border-radius: 15px;
  height: 100px;
  width: 100%;
}

.fruittext h2{
  position: absolute;
  bottom: 10px;
  left: 20px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  
  color: #fff;
}

.fruitpage {
  position: relative;  
  
  margin: 40px 15px 1px 30px;
  height: 250px;  
}

.fruitpage img {
  border-radius: 15px;
  height: 250px;
  width: 100%;
}


.fruitpage h2{
  position: absolute;
  bottom: 60px;
  margin-left: 30px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 26px;
  
  color: #FFFFFF;
}


.fruitpage h3{
  position: absolute;
  margin-left: 30px;
  bottom: 40px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  
  color: #FFFFFF;
}