/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin-top: 20px;  
  width: 100%;
  height: 100%;
  background: #FFFFFF;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

h1{
  margin-top: 25px;
  margin-left: 30px;
  margin-bottom: 0px;
  
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 80px;

  color: #00A0E0;
}

h2 {
  margin-top: 10px;
  margin-left: 30px;
  
  /* width: 300px; */
  
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 85x;
  line-height: 85px;

  color: #00A0E0;
}

.fruitbox {
  position: relative;  
  
  margin: 15px 15px 1px 30px;
  height: 300px;
}

.fruitbox img {
  border-radius: 15px;
  height: 300px;
  width: 100%;
}

.fruittext h2{
  position: absolute;
  bottom: 10px;
  left: 20px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 62px;
  line-height: 70px;
  
  color: #fff;
}

.fruitpage {
  position: relative;  
  
  margin: 40px 15px 1px 30px;
  height: 400px;  
}

.fruitpage img {
  border-radius: 15px;
  height: 400px;
  width: 100%;
}

.fruitpagetext h2{
  position: absolute;
  bottom: 60px;
  margin-left: 30px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  
  color: #FFFFFF;
}

.fruitpagetext h3{
  position: absolute;
  margin-left: 30px;
  bottom: 35px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  
  color: #FFFFFF;
}